/* SEARCH BOX */

.searchBox {
  margin-bottom: 50px;
}

.searchButton:hover {
  cursor: pointer;
}

/* RANDOM */
.random {
  margin-top: -10px;
}

/* RESULTS BOX */

.resultsBox {

}

.callout {
  padding: 20px 40px;
}

.callout:hover {
  border: 1px solid black;
}

.resultLink {
  color: #0a0a0a;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.result {

}

.resultTitle {

}

.resultPreview {
}
